/* Base structure */
.image-grid img { margin: 10px; }

/* Define 12 base class types that each theme will override */
[class*="class"] {
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s;
}

#preloader{
	background: #000 url(preloader.gif) no-repeat center center;
	background-size: 30%;
	margin: -10%;
	float: center;
	height: 140vh;
	width: 120%;
	position: fixed;
	z-index: 100;
}


 @media (min-width: 1400px) {
		/* Theme 1: Dark */
	.theme1.class1 { background-color: black; margin: -10px; overflow-x: hidden;}
	.theme1.class2 { height: 0px; width: 80%; margin-left: auto; margin-right: auto; margin-top: -10px; background-color: none; border-left: 80px solid transparent; border-right: 80px solid transparent;  border-top: 100px solid #28282B; }
	.theme1.class3 { width: 90%; height: 100px; margin-left: auto; margin-top: -120px; background-color: none; }
	.theme1.class4 { color: white; }
	.theme1.class5 { width: 80%; margin: auto; }
	.theme1.class6 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: 200px; background-color: #28282B;}
	.theme1.class6:hover { background-color: #9fc1ef; width: 100%; height: 500px;}
	.theme1.class7 { margin: auto; width: 100px;}
	.theme1.class8 { float: center; margin: auto;}
	.theme1.class9 { color: white; width: 40%; margin: auto; text-decoration: none; text-align: center;}
	.theme1.class10 { margin: auto; width: 300px;}
	.theme1.class11 { margin: auto; width: 300px; height: 180px;}
	/* ... up to class12 */
	.theme1.class12 { border: 2px solid #005577; }
	.theme1.class13 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: 220px; background-color: #28282B;}
	.theme1.class13:hover { text-decoration: none; background-color: #9fc1ef;}
	.theme1.class14 { width: 200px; height: 150px;}
	.theme1.class15 { margin: auto; width: 450px;}
	.theme1.class16 { text-decoration: none;}
	.theme1.class17 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: auto; background-color: #28282B;}
	.theme1.class18 { width: 80%; height: 300px; margin: 50px auto; padding: 20px; overflow-y: scroll; line-height: 1.6; font-family: sans-serif; position: relative;}
	.theme1.class19 { display: block; padding: 2px 0; transition: background 0.2s;}
	.theme1.class20 {background: #005577;}
	.theme1.class21 {color: white; font-size: 14px; width: 100%; color: white; margin: 0px; text-decoration: none; text-align: left;}
	.theme1.class22 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: auto; background-color: #28282B;}
	.theme1.class23 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: 100px; background-color: #28282B;}
	.theme1.class23:hover { background-color: #9fc1ef; width: 100%; height: auto;}
	.theme1.class24 { height: 80%; width: 10%; float: left;} /* Logo Div Style*/
	.theme1.class25 { margin: auto; height: 80%; width: 80%;} /* Logo Images*/
	.theme1.class26 { width: 400px; padding: auto; height: auto; margin: auto;} /* Video 3d Print*/
	.theme1.class27 { margin: auto; width: 400px;}
	.theme1.class28 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: 350px; background-color: #28282B;}
	.theme1.class28:hover { background-color: #9fc1ef; width: 100%; height: auto;}
	.theme1.class31 { margin: auto; width: 60%; text-align: left;}
	.theme1.class32 { width: 45%; height: 100%; float: left; padding: 10px; text-align: center;} /*Text Object on Contact Page*/
	.theme1.class33 { width: 80%; margin: auto; margin-bottom: 50px; padding-top: 50px; height: 400px;} /*Text and Face Logo Box*/
	.theme1.class34 { margin: auto; width: 45%; height: 100%; float: left; } /*Logo and Face Logo Box*/
	.theme1.class35 { height: 60%; float: right; width: auto; border-radius: 75px;} /*Face Logo*/
	.theme1.class36 { margin: auto; width: 70%; height: auto; float: left;} /*Book Style*/
	.theme1.class37 { width: 100%; background-color: black; border: none; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; margin-top: 20px; margin-bottom: 20px; cursor: pointer;} /*Button Style*/
	.theme1.class38 { width: 98%; background-color: black; } /*Input Data Style*/
	.theme1.class39 { color: white; margin: auto; text-align: center;} /*book genre text Style*/
	.theme1.class40 { width: 100%; margin: auto; height: 20px;} /*book genre text Style*/
	.theme1.class41 { width: 100px;  height: 80px;} /*Games image Logos*/
	.theme1.class42 { margin: auto; width: 350px;} /*Games image Logos*/
	.theme1.class43 { margin: auto; color: white; width: 60%;} /*Games Text*/
	.theme1.class44 { width: 100%; margin: auto; height: 60px;} /*3d Printer Text*/
	.theme1.class45 { width: 100%; margin: auto; height: 60px;} /*Assets Text*/
	.theme1.class46 { width: 100px; height: 80px;} /*Assets Icon Images*/
	.theme1.class47 { color: white; width: 40%; margin: auto; text-decoration: none; text-align: center;}/* Small Text Assets*/
    }

@media (min-width: 1140px) and (max-width: 1400px) {
	/* Theme 1: Dark */
	.theme1.class1 { background-color: black; margin: -10px; overflow-x: hidden;}
	.theme1.class2 { height: 0px; width: 80%; margin-left: auto; margin-right: auto; margin-top: -10px; background-color: none; border-left: 80px solid transparent; border-right: 80px solid transparent;  border-top: 300px solid #28282B; }
	.theme1.class3 { width: 850px; padding-left: 60px; height: 250px; margin: auto; margin-top: -330px; background-color: none; }
	.theme1.class4 { color: white; }
	.theme1.class5 { width: 80%; margin: auto; }
	.theme1.class6 { width: 100%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: 500px; background-color: #28282B;}
	.theme1.class7 { margin: auto; width: 100px;}
	.theme1.class8 { float: center; margin: auto;}
	.theme1.class9 { color: white; width: 40%; margin: auto; text-decoration: none; text-align: center;}
	.theme1.class10 { margin: auto; width: 300px;}
	.theme1.class11 { margin: auto; width: 300px; height: 180px;}
	/* ... up to class12 */
	.theme1.class12 { border: 2px solid #005577; }
	.theme1.class13 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: 200px; background-color: #28282B;}
	.theme1.class13:hover { text-decoration: none; background-color: #9fc1ef;}
	.theme1.class14 { width: 200px; height: 150px;}
	.theme1.class15 { margin: auto; width: 450px;}
	.theme1.class16 { text-decoration: none;}
	.theme1.class17 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: auto; background-color: #28282B;}
	.theme1.class18 { width: 80%; height: 300px; margin: 50px auto; padding: 20px; overflow-y: scroll; line-height: 1.6; font-family: sans-serif; position: relative;}
	.theme1.class19 { display: block; padding: 2px 0; transition: background 0.2s;}
	.theme1.class20 {background: #005577;}
	.theme1.class21 {color: white; font-size: 14px; width: 100%; color: white; margin: 0px; text-decoration: none; text-align: left;}
	.theme1.class22 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: auto; background-color: #28282B;}
	.theme1.class23 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: auto; background-color: #28282B;}
	.theme1.class23:hover { background-color: #9fc1ef; width: 100%; height: auto;}
	.theme1.class24 { height: 140px; float: left; width: 140px; padding: 30px; padding-bottom: 0px; padding-top: 20px} /* Logo Div Style*/
	.theme1.class25 { height: 60%; margin: auto;} /* Logo Images*/
	.theme1.class26 { width: 100%; height:230px;  margin: auto;} /* Video 3d Print*/
	.theme1.class27 { margin: auto; width: 70%; height: auto;}
	.theme1.class28 { width: 100%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: auto; background-color: #28282B;}
	.theme1.class31 { margin: auto; width: 60%; text-align: left;}
	.theme1.class32 { width: 45%; height: 100%; float: left; padding: 10px; text-align: center;} /*Text Object on Contact Page*/
	.theme1.class33 { width: 80%; margin: auto; margin-bottom: 50px; height: 400px;} /*Text and Face Logo Box*/
	.theme1.class34 { margin: auto; width: 45%; height: 100%; float: left; } /*Logo and Face Logo Box*/
	.theme1.class35 { height: 60%; float: right; width: auto; border-radius: 75px;} /*Face Logo*/
	.theme1.class36 { margin: auto; width: 70%; height: auto; float: left;} /*Book Style*/
	.theme1.class37 { width: 100%; background-color: black; border: none; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; margin-top: 20px; margin-bottom: 20px; cursor: pointer;} /*Button Style*/
	.theme1.class38 { width: 98%; background-color: black; } /*Input Data Style*/
	.theme1.class39 { color: white; margin: auto; text-align: center;} /*book genre text Style*/
	.theme1.class40 { width: 100%; margin: auto; height: 20px;} /*book genre text Style*/
	.theme1.class41 { max-width: 60%;  height: 80px; margin-top: -10px;} /*Games image Logos*/
	.theme1.class42 { margin: auto; width: 350px;} /*Games image Logos*/
	.theme1.class43 { margin: auto; color: white; width: 60%;} /*Games Text*/
	.theme1.class44 { width: 100%; margin: auto; height: 60px;} /*3d Printer Text*/
	.theme1.class45 { width: 100%; margin: auto; height: 60px;} /*Assets Text*/
	.theme1.class46 { width: 100px; height: 80px;} /*Assets Icon Images*/
	.theme1.class47 { color: white; width: 40%; margin: auto; text-decoration: none; text-align: center;} /*Small Text Assets Page*/
 }
 
 @media (max-width: 1140px) {
	/* Theme 1: Dark */
	.theme1.class1 { background-color: black; margin-right: -80px; margin-top: -20px; overflow-x: hidden;}
	.theme1.class2 { height: 70%; width: 200px; position: fixed; margin-left: -20px; margin-right: auto; margin-top: 50px; background-color: none; border-top: 80px solid transparent; border-bottom: 80px solid transparent;  border-left: 100px solid #28282B; }
	.theme1.class30 { height: 70%; width: 80%; position: fixed; margin-left: -20px; z-index: 8; margin-right: auto; margin-top: 50px; background-color: none; border-top: 80px solid transparent; border-bottom: 80px solid transparent; border-left: 800px solid #28282B;}
	.theme1.class3 { width: 800px; height: 100%; margin-left: -800px; background-color: none;}
	.theme1.class4 { color: white; font-size: 80px;}
	.theme1.class5 { width: 80%; margin-left: auto; }
	.theme1.class6 { width: 100%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: auto; background-color: #28282B;}
	.theme1.class7 { margin: auto; width: 80%;}
	.theme1.class8 { float: center; margin: auto;}
	.theme1.class9 { color: white; width: 40%; margin: auto; text-decoration: none; text-align: center;}
	.theme1.class10 { margin: auto; width: 90%;}
	.theme1.class11 { margin: auto; width: 100%; height: 400px;}
	/* ... up to class12 */
	.theme1.class12 { border: 2px solid #005577; }
	.theme1.class13 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: auto; background-color: #28282B;}
	.theme1.class14 { width: auto; height: 45%;}
	.theme1.class15 { margin: auto; width: 450px;}
	.theme1.class16 { text-decoration: none;}
	.theme1.class17 { width: 80%; overflow: hidden; margin-top: 40px; margin-left: auto; margin-right: auto; height: auto; background-color: #28282B;}
	.theme1.class18 { width: 80%; height: 1000px; margin: 50px auto; padding: 20px; overflow-y: scroll; line-height: 1.6; font-family: sans-serif; position: relative;}
	.theme1.class19 { display: block; padding: 2px 0; transition: background 0.2s;}
	.theme1.class20 {background: #005577;}
	.theme1.class21 {color: white; font-size: 35px; width: 100%; color: white; margin: 0px; text-decoration: none; text-align: left;}
	.theme1.class22 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: auto; background-color: #28282B;}
	.theme1.class23 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: auto; background-color: #28282B;}
	.theme1.class24 { height: 200px; float: left; margin: 50px; width: 180px;} /* Logo Div Style*/
	.theme1.class25 { width: 80%; height: 80%; margin: auto;} /* Logo Images*/
	.theme1.class26 { width: 100%; height: auto;  margin: auto;} /* Video 3d Print*/
	.theme1.class27 { margin: auto; width: 90%;}
	.theme1.class28 { width: 100%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: 10px; height: auto; background-color: #28282B;}
	.theme1.class29 { width: 100%; position: absolute; left: 0px; top: -25px; height: 100%; z-index: 101;}
	.theme1.class31 { margin: auto; width: 60%; text-align: left;}
	.theme1.class32 { width: 100%; height: 100%; float: left; padding: 10px; text-align: center;} /*Text Object on Contact Page*/
	.theme1.class33 { width: 90%; margin-top: 100px; height: auto;} /*Text and Face Logo Box*/
	.theme1.class34 { margin: auto; width: 100%; padding-top: 10px; height: auto; align-items: center; } /*Logo and Face Logo Box*/
	.theme1.class35 { height: auto; width: 100%;  border-radius: 100%;} /*Face Logo*/
	.theme1.class36 { margin: auto; width: 70%; height: auto;} /*Book Style*/
	.theme1.class37 { width: 100%; background-color: black; border: none; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; margin-top: 20px; margin-bottom: 20px; cursor: pointer;} /*Button Style*/
	.theme1.class38 { width: 98%; height: 80px; font-size: 60px; color: white; background-color: black; } /*Input Data Style*/
	.theme1.class39 { color: white; font-size: 50px; margin: auto; text-align: center;} /*book genre text Style*/
	.theme1.class40 { width: 100%; margin: auto; height: auto;} /*book genre text Style*/
	.theme1.class41 { float: center; max-width: 45%; margin: auto; height: 250px;} /*Games image Logos*/
	.theme1.class42 { padding: auto; width: 100%;} /*Games image Logos*/
	.theme1.class43 { margin: auto; font-size: 40px; color: white; width: 90%;} /*Games Text*/
	.theme1.class44 { width: 100%; margin: auto; height: 180px;} /*3d Printer Text*/
	.theme1.class45 { width: 100%; margin: auto; height: 160px;} /*Assets Text*/
	.theme1.class46 { display: none;} /*Assets Icon Images*/
	.theme1.class47 { width: 100%; margin: auto; color: white; height: 160px; font-size: 100px; text-decoration: none; text-align: center;}/*Small Text Assets*/
 }
 
  .theme1.class29 { width: 100%; height: 140%; background-color: #28282b; top: -10%; left: 0px; overflow-y: scroll; line-height: 1.6; font-family: sans-serif; position: absolute;}

 @media (min-width: 1400px) {
		/* Theme 1: Dark */
	.theme2.class1 { background-color: white; margin: -10px; overflow-x: hidden;}
	.theme2.class2 { height: 0px; width: 80%; margin-left: auto; margin-right: auto; margin-top: -10px; background-color: none; border-left: 80px solid transparent; border-right: 80px solid transparent;  border-top: 100px solid #b2b2b2; }
	.theme2.class3 { width: 90%; height: 100px; margin-left: auto; margin-top: -120px; background-color: none; }
	.theme2.class4 { color: black; }
	.theme2.class5 { width: 80%; margin: auto; }
	.theme2.class6 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: 200px; background-color: #b2b2b2;}
	.theme2.class6:hover { background-color: #9fc1ef; width: 100%; height: 500px;}
	.theme2.class7 { margin: auto; width: 100px;}
	.theme2.class8 { float: center; margin: auto;}
	.theme2.class9 { color: black; width: 40%; margin: auto; text-decoration: none; text-align: center;}
	.theme2.class10 { margin: auto; width: 300px;}
	.theme2.class11 { margin: auto; width: 300px; height: 180px;}
	/* ...up to class12 */
	.theme2.class12 { border: 2px solid #b2b2b2; }
	.theme2.class13 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: 220px; background-color: #b2b2b2;}
	.theme2.class13:hover { text-decoration: none; background-color: #9fc1ef;}
	.theme2.class14 { width: 200px; height: 150px;}
	.theme2.class15 { margin: auto; width: 450px;}
	.theme2.class16 { text-decoration: none;}
	.theme2.class17 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: auto; background-color: #b2b2b2;}
	.theme2.class18 { width: 80%; height: 300px; margin: 50px auto; padding: 20px; overflow-y: scroll; line-height: 1.6; font-family: sans-serif; position: relative;}
	.theme2.class19 { display: block; padding: 2px 0; transition: background 0.2s;}
	.theme2.class20 {background: #b2b2b2;}
	.theme2.class21 {color: black; font-size: 14px; width: 100%; color: black; margin: 0px; text-decoration: none; text-align: left;}
	.theme2.class22 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: auto; background-color: #b2b2b2;}
	.theme2.class23 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: 100px; background-color: #b2b2b2;}
	.theme2.class23:hover { background-color: #9fc1ef; width: 100%; height: auto;}
	.theme2.class24 { height: 80%; width: 10%; float: left;} /* Logo Div Style*/
	.theme2.class25 { margin: auto; height: 80%; width: 80%;} /* Logo Images*/
	.theme2.class26 { padding: auto; width: 400px; height: auto; margin: auto;} /* Video 3d Print*/
	.theme2.class27 { margin: auto; width: 400px;}
	.theme2.class28 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: 350px; background-color: #b2b2b2;}
	.theme2.class28:hover { background-color: #9fc1ef; width: 100%; height: auto;}
	.theme2.class31 { margin: auto; width: 60%; text-align: left;}
	.theme2.class32 { width: 45%; height: 100%; float: left; padding: 10px; text-align: center;} /*Text Object on Contact Page*/
	.theme2.class33 { width: 80%; margin: auto; margin-bottom: 50px; padding-top: 50px; height: 400px;} /*Text and Face Logo Box*/
	.theme2.class34 { margin: auto; width: 45%; height: 100%; float: left; } /*Logo and Face Logo Box*/
	.theme2.class35 { height: 60%; float: right; width: auto; border-radius: 75px;} /*Face Logo*/
	.theme2.class36 { margin: auto; width: 70%; height: auto; float: left;} /*Book Style*/
	.theme2.class37 { width: 100%; background-color: white; border: none; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; margin-top: 20px; margin-bottom: 20px; cursor: pointer;} /*Button Style*/
	.theme2.class38 { width: 98%; background-color: white; } /*Input Data Style*/
	.theme2.class39 { color: black; margin: auto; text-align: center;} /*book genre text Style*/
	.theme2.class40 { width: 100%; margin: auto; height: 20px;} /*book genre text Style*/
	.theme2.class41 { width: 100px;  height: 80px;} /*Games image Logos*/
	.theme2.class42 { margin: auto; width: 350px;} /*Games image Logos*/
	.theme2.class43 { margin: auto; color: black; width: 60%;} /*Games Text*/
	.theme2.class44 { width: 100%; margin: auto; height: 60px;} /*3d Printer Text*/
	.theme2.class45 { width: 100%; margin: auto; height: 60px;} /*Assets Text*/
	.theme2.class46 { width: 100px; height: 80px;} /*Assets Icon Images*/
	.theme2.class47 { color: black; width: 40%; margin: auto; text-decoration: none; text-align: center;}/* Small Text Assets*/
    }


@media (min-width: 1140px) and (max-width: 1400px) {
	/* Theme 1: Dark */
	.theme2.class1 { background-color: white; margin: -10px; overflow-x: hidden;}
	.theme2.class2 { height: 0px; width: 80%; margin-left: auto; margin-right: auto; margin-top: -10px; background-color: none; border-left: 80px solid transparent; border-right: 80px solid transparent;  border-top: 300px solid #b2b2b2; }
	.theme2.class3 { width: 850px; padding-left: 60px; height: 250px; margin: auto; margin-top: -330px; background-color: none; }
	.theme2.class4 { color: black; }
	.theme2.class5 { width: 80%; margin: auto; }
	.theme2.class6 { width: 100%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: 500px; background-color: #b2b2b2;}
	.theme2.class7 { margin: auto; width: 100px;}
	.theme2.class8 { float: center; margin: auto;}
	.theme2.class9 { color: black; width: 40%; margin: auto; text-decoration: none; text-align: center;}
	.theme2.class10 { margin: auto; width: 300px;}
	.theme2.class11 { margin: auto; width: 300px; height: 180px;}
	/* ... up to class12 */
	.theme2.class12 { border: 2px solid #b2b2b2; }
	.theme2.class13 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: 200px; background-color: #b2b2b2;}
	.theme2.class13:hover { text-decoration: none; background-color: #9fc1ef;}
	.theme2.class14 { width: 200px; height: 150px;}
	.theme2.class15 { margin: auto; width: 450px;}
	.theme2.class16 { text-decoration: none;}
	.theme2.class17 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: auto; background-color: #b2b2b2;}
	.theme2.class18 { width: 80%; height: 300px; margin: 50px auto; padding: 20px; overflow-y: scroll; line-height: 1.6; font-family: sans-serif; position: relative;}
	.theme2.class19 { display: block; padding: 2px 0; transition: background 0.2s;}
	.theme2.class20 {background: #b2b2b2;}
	.theme2.class21 {color: black; font-size: 14px; width: 100%; color: black; margin: 0px; text-decoration: none; text-align: left;}
	.theme2.class22 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: auto; background-color: #b2b2b2;}
	.theme2.class23 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: auto; background-color: #b2b2b2;}
	.theme2.class23:hover { background-color: #9fc1ef; width: 100%; height: auto;}
	.theme2.class24 { height: 140px; float: left; width: 140px; padding: 30px; padding-bottom: 0px; padding-top: 20px} /* Logo Div Style*/
	.theme2.class25 { height: 60%; margin: auto;} /* Logo Images*/
	.theme2.class26 { width: 100%; height:230px;  margin: auto;} /* Video 3d Print*/
	.theme2.class27 { margin: auto; width: 70%; height: auto;}
	.theme2.class28 { width: 100%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: auto; background-color: #b2b2b2;}
	.theme2.class31 { margin: auto; width: 60%; text-align: left;}
	.theme2.class32 { width: 45%; height: 100%; float: left; padding: 10px; text-align: center;} /*Text Object on Contact Page*/
	.theme2.class33 { width: 80%; margin: auto; margin-bottom: 50px; height: 400px;} /*Text and Face Logo Box*/
	.theme2.class34 { margin: auto; width: 45%; height: 100%; float: left; } /*Logo and Face Logo Box*/
	.theme2.class35 { height: 60%; float: right; width: auto; border-radius: 75px;} /*Face Logo*/
	.theme2.class36 { margin: auto; width: 70%; height: auto; float: left;} /*Book Style*/
	.theme2.class37 { width: 100%; background-color: white; border: none; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; margin-top: 20px; margin-bottom: 20px; cursor: pointer;} /*Button Style*/
	.theme2.class38 { width: 98%; background-color: white; } /*Input Data Style*/
	.theme2.class39 { color: black; margin: auto; text-align: center;} /*book genre text Style*/
	.theme2.class40 { width: 100%; margin: auto; height: 20px;} /*book genre text Style*/
	.theme2.class41 { max-width: 60%;  height: 80px; margin-top: -10px;} /*Games image Logos*/
	.theme2.class42 { margin: auto; width: 350px;} /*Games image Logos*/
	.theme2.class43 { margin: auto; color: black; width: 60%;} /*Games Text*/
	.theme2.class44 { width: 100%; margin: auto; height: 60px;} /*3d Printer Text*/
	.theme2.class45 { width: 100%; margin: auto; height: 60px;} /*Assets Text*/
	.theme2.class46 { width: 100px; height: 80px;} /*Assets Icon Images*/
	.theme2.class47 { color: black; width: 40%; margin: auto; text-decoration: none; text-align: center;} /*Small Text Assets Page*/
 }
 

 @media (max-width: 1140px) {
	/* Theme 1: Dark */
	.theme2.class1 { background-color: black; margin-right: -80px; margin-top: -20px; overflow-x: hidden;}
	.theme2.class2 { height: 70%; width: 200px; position: fixed; margin-left: -20px; margin-right: auto; margin-top: 50px; background-color: none; border-top: 80px solid transparent; border-bottom: 80px solid transparent;  border-left: 100px solid #b2b2b2; }
	.theme2.class30 { height: 70%; width: 80%; position: fixed; margin-left: -20px; z-index: 8; margin-right: auto; margin-top: 50px; background-color: none; border-top: 80px solid transparent; border-bottom: 80px solid transparent; border-left: 800px solid #b2b2b2;}
	.theme2.class3 { width: 800px; height: 100%; margin-left: -800px; background-color: none;}
	.theme2.class4 { color: black; font-size: 80px;}
	.theme2.class5 { width: 80%; margin-left: auto; }
	.theme2.class6 { width: 100%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: auto; background-color: #b2b2b2;}
	.theme2.class7 { margin: auto; width: 80%;}
	.theme2.class8 { float: center; margin: auto;}
	.theme2.class9 { color: black; width: 40%; margin: auto; text-decoration: none; text-align: center;}
	.theme2.class10 { margin: auto; width: 90%;}
	.theme2.class11 { margin: auto; width: 100%; height: 400px;}
	/* ... up to class12 */
	.theme2.class12 { border: 2px solid #b2b2b2; }
	.theme2.class13 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: auto; background-color: #b2b2b2;}
	.theme2.class14 { width: auto; height: 45%;}
	.theme2.class15 { margin: auto; width: 450px;}
	.theme2.class16 { text-decoration: none;}
	.theme2.class17 { width: 80%; overflow: hidden; margin-top: 40px; margin-left: auto; margin-right: auto; height: auto; background-color: #b2b2b2;}
	.theme2.class18 { width: 80%; height: 1000px; margin: 50px auto; padding: 20px; overflow-y: scroll; line-height: 1.6; font-family: sans-serif; position: relative;}
	.theme2.class19 { display: block; padding: 2px 0; transition: background 0.2s;}
	.theme2.class20 {background: #b2b2b2;}
	.theme2.class21 {color: black; font-size: 35px; width: 100%; color: black; margin: 0px; text-decoration: none; text-align: left;}
	.theme2.class22 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: auto; background-color: #b2b2b2;}
	.theme2.class23 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: auto; background-color: #b2b2b2;}
	.theme2.class24 { height: 200px; float: left; margin: 50px; width: 180px;} /* Logo Div Style*/
	.theme2.class25 { width: 80%; height: 80%; margin: auto;} /* Logo Images*/
	.theme2.class26 { width: 100%; height: auto;  margin: auto;} /* Video 3d Print*/
	.theme2.class27 { margin: auto; width: 90%;}
	.theme2.class28 { width: 100%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: 10px; height: auto; background-color: #b2b2b2;}
	.theme2.class29 { width: 100%; position: absolute; left: 0px; top: -25px; height: 100%; z-index: 101;}
	.theme2.class31 { margin: auto; width: 60%; text-align: left;}
	.theme2.class32 { width: 100%; height: 100%; float: left; padding: 10px; text-align: center;} /*Text Object on Contact Page*/
	.theme2.class33 { width: 90%; margin-top: 100px; height: auto;} /*Text and Face Logo Box*/
	.theme2.class34 { margin: auto; width: 100%; padding-top: 10px; height: auto; align-items: center; } /*Logo and Face Logo Box*/
	.theme2.class35 { height: auto; width: 100%;  border-radius: 100%;} /*Face Logo*/
	.theme2.class36 { margin: auto; width: 70%; height: auto;} /*Book Style*/
	.theme2.class37 { width: 100%; background-color: white; border: none; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; margin-top: 20px; margin-bottom: 20px; cursor: pointer;} /*Button Style*/
	.theme2.class38 { width: 98%; height: 80px; font-size: 60px; color: white; background-color: black; } /*Input Data Style*/
	.theme2.class39 { color: black; font-size: 50px; margin: auto; text-align: center;} /*book genre text Style*/
	.theme2.class40 { width: 100%; margin: auto; height: auto;} /*book genre text Style*/
	.theme2.class41 { float: center; max-width: 45%; margin: auto; height: 250px;} /*Games image Logos*/
	.theme2.class42 { padding: auto; width: 100%;} /*Games image Logos*/
	.theme2.class43 { margin: auto; font-size: 40px; color: black; width: 90%;} /*Games Text*/
	.theme2.class44 { width: 100%; margin: auto; height: 180px;} /*3d Printer Text*/
	.theme2.class45 { width: 100%; margin: auto; height: 160px;} /*Assets Text*/
	.theme2.class46 { display: none;} /*Assets Icon Images*/
	.theme2.class47 { width: 100%; margin: auto; color: black; height: 160px; font-size: 100px; text-decoration: none; text-align: center;}/*Small Text Assets*/
 }
 
  .theme2.class29 { width: 100%; height: 140%; background-color: #b2b2b2; top: -10%; left: 0px; overflow-y: scroll; line-height: 1.6; font-family: sans-serif; position: absolute;}
 


/* Theme 3: Blue */
.theme3.class1 { background-color: #49596e; margin: -10px; overflow-x: hidden;}
.theme3.class2 { height: 0px; width: 80%; margin-left: auto; margin-right: auto; margin-top: -10px; background-color: none; border-left: 80px solid transparent; border-right: 80px solid transparent;  border-top: 100px solid #627794; }
.theme3.class3 { width: 90%; height: 100px; margin-left: auto; margin-right: auto; margin-top: -100px; background-color: none; }
.theme3.class4 { color: white; }
.theme3.class5 { width: 80%; margin: auto; }
.theme3.class6 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: 100px; background-color: #627794;}
.theme3.class6:hover { background-color: #627794; width: 100%; height: 400px;}
.theme3.class7 { margin: auto; width: 100px;}
.theme3.class8 { float: center; margin: auto;}
.theme3.class9 { color: white; width: 40%; margin: auto; text-decoration: none; text-align: center;}
.theme3.class10 { margin: auto; width: 300px;}
.theme3.class11 { margin: auto; width: 300px; height: 180px;}
/* ... up to class12 */
.theme3.class12 { border: 2px solid #627794; }
.theme3.class13 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: 100px; background-color: #627794;}
.theme3.class14 { width: 200px; height: 150px;}
.theme3.class15 { margin: auto; width: 450px;}
.theme3.class16 { text-decoration: none;}


/* Theme 4: Red */
.theme4.class1 { background-color: #3f220f; margin: -10px; overflow-x: hidden;}
.theme4.class2 { height: 0px; width: 80%; margin-left: auto; margin-right: auto; margin-top: -10px; background-color: none; border-left: 80px solid transparent; border-right: 80px solid transparent;  border-top: 100px solid #653618; }
.theme4.class3 { width: 90%; height: 100px; margin-left: auto; margin-right: auto; margin-top: -100px; background-color: none; }
.theme4.class4 { color: white; }
.theme4.class5 { width: 80%; margin: auto; }
.theme4.class6 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: 100px; background-color: #653618;}
.theme4.class6:hover { background-color: #653618; width: 100%; height: 400px;}
.theme4.class7 { margin: auto; width: 100px;}
.theme4.class8 { float: center; margin: auto;}
.theme4.class9 { color: white; width: 40%; margin: auto; text-decoration: none; text-align: center;}
.theme4.class10 { margin: auto; width: 300px;}
.theme4.class11 { margin: auto; width: 300px; height: 180px;}
/* ... up to class12 */
.theme4.class12 { border: 2px solid #653618; }
.theme4.class13 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: 100px; background-color: #653618;}
.theme4.class14 { width: 200px; height: 150px;}
.theme4.class15 { margin: auto; width: 450px;}
.theme4.class16 { text-decoration: none;}


/* Theme 5: Green */
.theme5.class1 { background-color: #095838; margin: -10px; overflow-x: hidden;}
.theme5.class2 { height: 0px; width: 80%; margin-left: auto; margin-right: auto; margin-top: -10px; background-color: none; border-left: 80px solid transparent; border-right: 80px solid transparent;  border-top: 100px solid #0c7e50; }
.theme5.class3 { width: 90%; height: 100px; margin-left: auto; margin-right: auto; margin-top: -100px; background-color: none; }
.theme5.class4 { color: white; }
.theme5.class5 { width: 80%; margin: auto; }
.theme5.class6 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: 100px; background-color: #0c7e50;}
.theme5.class6:hover { background-color: #0c7e50; width: 100%; height: 400px;}
.theme5.class7 { margin: auto; width: 100px;}
.theme5.class8 { float: center; margin: auto;}
.theme5.class9 { color: white; width: 40%; margin: auto; text-decoration: none; text-align: center;}
.theme5.class10 { margin: auto; width: 300px;}
.theme5.class11 { margin: auto; width: 300px; height: 180px;}
/* ... up to class12 */
.theme5.class12 { border: 2px solid #0c7e50; }
.theme5.class13 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: 100px; background-color: #0c7e50;}
.theme5.class14 { width: 200px; height: 150px;}
.theme5.class15 { margin: auto; width: 450px;}
.theme5.class16 { text-decoration: none;}


/* Theme 6: Basic */
.theme6.class1 { background-color: black; margin: -10px; overflow-x: hidden;}
.theme6.class2 { height: 0px; width: 80%; margin-left: auto; margin-right: auto; margin-top: -10px; background-color: none; border-left: 80px solid transparent; border-right: 80px solid transparent;  border-top: 100px solid #005577; }
.theme6.class3 { width: 90%; height: 100px; margin-left: auto; margin-right: auto; margin-top: -100px; background-color: none; }
.theme6.class4 { color: white; }
.theme6.class5 { width: 80%; margin: auto; }
.theme6.class6 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: 100px; background-color: #005577;}
.theme6.class6:hover { background-color: #005577; width: 100%; height: 400px;}
.theme6.class7 { margin: auto; width: 100px;}
.theme6.class8 { float: center; margin: auto;}
.theme6.class9 { color: white; width: 40%; margin: auto; text-decoration: none; text-align: center;}
.theme6.class10 { margin: auto; width: 300px;}
.theme6.class11 { margin: auto; width: 300px; height: 180px;}
/* ... up to class12 */
.theme6.class12 { border: 2px solid #005577; }
.theme6.class13 { width: 80%; overflow: hidden; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; height: 100px; background-color: #005577;}
.theme6.class14 { width: 200px; height: 150px;}
.theme6.class15 { margin: auto; width: 450px;}
.theme6.class16 { text-decoration: none;}